<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>STARSA Command Center</title>

        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <link rel="shortcut icon" href="static/img/ists_logo_black.png">
        <link rel="icon" type="image/png" href="static/img/ists_logo_black.png" sizes="32x32">

        <!-- Web fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,700&Open+Sans:300,400,600,700">

        <!-- Bootstrap and Ares CSS -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/animate.min.css">
        <link rel="stylesheet" href="static/css/ares.css">
    </head>
    <body>
        <!-- Page Container -->
        <!--
            Available Classes: 'modern-sf', 'vintage-sf', 'interstellar-sf'
        -->
        <div id="page-container" class="modern-sf">
            <!-- Header -->
            <header id="page-header">
                <div class="h3 text-right pull-right hidden-xs">
                    <div class="text-crystal font-w300">TEAM[]_LOGGED_IN</div>
                    <div class="text-success animated infinite pulse pull-right">[LIVE]</div>
                </div>
                <h1 class="h3 font-w200">
                    <span class="text-crystal">//</span> <a class="link-sf font-w300" href="index.html">STARSA Command Center</a>
                </h1>
            </header>
            <!-- END Header -->

            <!-- Main Content -->
            <main id="page-main">
                <!-- Columns -->
                <div class="row">
                    <!-- Animated Circles Column -->
                    <div class="col-lg-6 col-lg-push-3 overflow-hidden push-20">
                        <div class="circles push-50">
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn">
                                <span class="circle circle-0"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="100">
                                <span class="circle circle-1"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="200">
                                <span class="circle circle-2"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="300">
                                <span class="circle circle-3"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="400">
                                <span class="circle circle-4"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="500">
                                <span class="circle circle-5"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="600">
                                <span class="circle circle-6"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="800">
                                <span class="circle circle-over-1 hidden-xs"><span data-toggle="countTo" data-to="9999" data-speed="1000000"></span></span>
                                <span class="circle circle-over-2 hidden-xs"></span>
                                <span class="circle circle-over-3 hidden-xs"></span>
                            </div>
                            <span class="circle circles-main-content visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="100">
                                <img src="/static/img/ists_logo_white.png" width="220" height="220">

                            </span>
                        </div>
                        <div class="row">
                            <form action="/ansible_playbook1" method="post">
                                <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                    <button name="playbook1" type="submit" class="btn btn-xl btn-block btn-sf push-10">Ansible_Playbook1</button>
                                </div>
                            </form>
                            <form action="/ansible_playbook2" method="post">
                                <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                    <button name="playbook2" type="submit" class="btn btn-xl btn-block btn-sf push-10">Ansible_Playbook2</button>
                                </div>
                            </form>
                            <form action="/ansible_playbook3" method="post">
                                <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                    <button name="playbook3" type="submit" class="btn btn-xl btn-block btn-sf push-10">Ansible_Playbook3</button>
                                </div>
                            </form>
                            <form action="/ansible_playbook4" method="post">
                                <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                    <button name="playbook4" type="submit" class="btn btn-xl btn-block btn-sf push-10">Ansible_Playbook4</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END Animated Circles Column -->

                    <!-- Left Column -->
                    <div class="col-sm-6 col-lg-3 col-lg-pull-6">
                        <!-- SHIP_DATA -->
                        <div class="block">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Ship_Data</h2>
                            </div>
                            <div class="block-content">
                                <div class="row items-push overflow-hidden">
                                    <div class="col-xs-4 text-center visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                        <div class="js-pie-chart pie-chart" data-percent="100" data-line-width="5" data-size="65" data-bar-color="rgba(255, 255, 255, .2)" data-track-color="rgba(255, 255, 255, .1)">
                                            <span class="font-s16 font-w600"><img src="/static/img/ship3.png" width="50" height="50"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 visibility-hidden" data-toggle="appear" data-class="animated fadeInRight" data-timeout="400">
                                        <div class="text-uppercase font-w600 text-white-op">GUARDIANS</div>
                                        <div class="font-s36 font-w300">{{ship1_count}}</div>
                                    </div>
                                </div>
                                <div class="row items-push overflow-hidden">
                                    <div class="col-xs-4 text-center visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="200">
                                        <div class="js-pie-chart pie-chart" data-percent="100" data-line-width="5" data-size="65" data-bar-color="rgba(255, 255, 255, .2)" data-track-color="rgba(255, 255, 255, .1)">
                                            <span class="font-s16 font-w600"><img src="/static/img/ship2.png" width="50" height="50"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 visibility-hidden" data-toggle="appear" data-class="animated fadeInRight" data-timeout="500">
                                        <div class="text-uppercase font-w600 text-white-op">BOMBERS</div>
                                        <div class="font-s36 font-w300">{{ship2_count}}</div>
                                    </div>
                                </div>
                                <div class="row items-push overflow-hidden">
                                    <div class="col-xs-4 text-center visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="300">
                                        <div class="js-pie-chart pie-chart" data-percent="100" data-line-width="5" data-size="65" data-bar-color="rgba(255, 255, 255, .2)" data-track-color="rgba(255, 255, 255, .1)">
                                            <span class="font-s16 font-w600"><img src="/static/img/ship1.png" width="50" height="50"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 visibility-hidden" data-toggle="appear" data-class="animated fadeInRight" data-timeout="600">
                                        <div class="text-uppercase font-w600 text-white-op">STRIKER</div>
                                        <div class="font-s36 font-w300">{{ship3_count}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SHIP_DATA -->

                        <!-- KING_OF_THE_HILL -->
                        <div class="block">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">KING_OF_THE_HILL</h2>
                            </div>
                            <div class="block-content">
                                <div class="row items-push overflow-hidden">
                                    <div class="col-xs-4 text-center visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                        <div class="js-pie-chart pie-chart" data-percent="100" data-line-width="20" data-size="45" data-bar-color="rgba(255, 255, 255, .2)" data-track-color="#c07635">
                                            <span class="font-s16 font-w600"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 visibility-hidden" data-toggle="appear" data-class="animated fadeInRight" data-timeout="400">
                                        <div id="planet1_name" class="text-uppercase font-w600 text-white-op"></div>
                                        <div id="planet1_control" class="font-s36 font-w300"><div class="font-s18 text-success">[UP]</div></div>
                                    </div>
                                </div>
                                <div class="row items-push overflow-hidden">
                                    <div class="col-xs-4 text-center visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="200">
                                        <div class="js-pie-chart pie-chart" data-percent="100" data-line-width="22" data-size="50" data-bar-color="rgba(255, 255, 255, .2)" data-track-color="#3673cc">
                                            <span class="font-s16 font-w600"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 visibility-hidden" data-toggle="appear" data-class="animated fadeInRight" data-timeout="500">
                                        <div id="planet2_name" class="text-uppercase font-w600 text-white-op"></div>
                                        <div id="planet2_control" class="font-s36 font-w300"><div class="font-s18 text-success">[UP]</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END KING_OF_THE_HILL -->
                    </div>
                    <!-- END Left Column -->

                    <!-- Right Column -->
                    <div class="col-sm-6 col-lg-3">

                        <!-- ALERTS -->
                        <div class="block">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">ALERTS</h2>
                                {% for alert in whiteteam_alerts %}
                                <div id='alerts' class="text-uppercase font-w600 text-white-op"></div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- END ALERTS -->

                        <!-- HQ_COMS -->
                        <div class="block">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">HQ_COMS</h2>
                            </div>
                            <div class="block-content overflow-hidden">
                                <div class="row items-push">
                                    <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="300">
                                        <div class="font-s24 font-w300 text-white-op">SERVER1 [<span class="text-success">UP</span>]</div>
                                    </div>
                                    <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="500">
                                        <div class="font-s24 font-w300 text-white-op">SERVER2 [<span class="text-success">UP</span>]</div>
                                    </div>
                                    <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="700">
                                        <div class="font-s24 font-w300 text-white-op">SERVER3 [<span class="text-success">UP</span>]</div>
                                    </div>
                                    <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="900">
                                        <div class="font-s24 font-w300 text-white-op">SERVER4 [<span class="text-success">UP</span>]</div>
                                    </div>
                                    <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="1100">
                                        <div class="font-s24 font-w300 text-white-op">SERVER5 [<span class="text-success">UP</span>]</div>
                                    </div>
                                    <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="1300">
                                        <div class="font-s24 font-w300 text-white-op">SERVER6 [<span class="text-success">UP</span>]</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END HQ_COMS -->

                        <!-- CREDITS -->
                        <div class="block">
                            <img src="/static/img/coin.png" width="100" height="100" align="right">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">CREDITS</h2>
                            </div>
                            <div class="block-content block-content-full overflow-hidden">
                                <div class="font-w600 text-white-op push-5 visibility-hidden" data-toggle="appear" data-class="animated fadeInRight" data-timeout="100">{{credits}}</div>
                            </div>
                        </div>
                        <!-- END CREDITS -->

                        <!-- STATS -->
                        <div class="block">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">STATS</h2>
                            </div>
                            <div class="block-content">
                                <div class="row items-push">
                                    <div class="col-xs-4 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="100">
                                        <div class="font-s12 text-white-op">DAMAGE</div>
                                        {% if damage_color == 'green' %}
                                            <div class="font-s18 text-ON">{{damage}}</div>
                                        {% elif damage_color == 'red' %}
                                            <div class="font-s18 text-OFF">{{damage}}</div>
                                        {% else %}
                                            <div class="font-s18 text-white">{{damage}}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-4 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="300">
                                        <div class="font-s12 text-white-op">HEALTH</div>
                                        {% if health_color == 'green' %}
                                            <div class="font-s18 text-ON">{{health}}</div>
                                        {% elif health_color == 'red' %}
                                            <div class="font-s18 text-OFF">{{health}}</div>
                                        {% else %}
                                            <div class="font-s18 text-white">{{health}}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-4 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="500">
                                        <div class="font-s12 text-white-op">SPEED</div>
                                        {% if speed_color == 'green' %}
                                            <div class="font-s18 text-ON">{{speed}}</div>
                                        {% elif speed_color == 'red' %}
                                            <div class="font-s18 text-OFF">{{speed}}</div>
                                        {% else %}
                                            <div class="font-s18 text-white">{{speed}}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END STATS -->

                    </div>
                    <!-- END Right Column -->
                </div>
                <!-- END Columns -->

            </main>
            <!-- END Main Content -->
        </div>
        <!-- END Page Container -->

        <!-- Scripts -->
        <script src="static/js/core/jquery.min.js"></script>
        <script src="static/js/plugins/jquery.appear.min.js"></script>
        <script src="static/js/plugins/jquery.countTo.min.js"></script>
        <script src="static/js/plugins/jquery.easypiechart.min.js"></script>
        <script src="static/js/ares.js"></script>

        <!-- Page JS Code -->
        <script>
            jQuery(function(){
                // Init page helpers (Appear + CountTo + Easy Pie Chart plugins)
                Ares.initHelpers(['appear', 'appear-countTo', 'easy-pie-chart']);
            });


           $(function() {
           function reload_alerts(){
               $.ajax({
                    url: '/status/alerts',
                    type: 'GET',
                    dataType: 'json',
                    success: function(data){
                        var alerts = data.alerts;
                        var formatted_alerts = '';
                        for (i = 0; i < alerts.length; i++) {
                            formatted_alerts += "- " + alerts[i] + "<br>";
                        }
                        $('#alerts').html(formatted_alerts);

                    },
                    error: function(){
                        alert("Error!");
                    }
                });
            }
            setInterval(reload_alerts, 30000);
            reload_alerts()
            });

            $(function() {
           function reload_koth(){
               $.ajax({
                    url: '/status/koth',
                    type: 'GET',
                    dataType: 'json',
                    success: function(data){
                        var planets = data.planets;
                        //alert(planets.planet1);
                        var names_list = [];
                        var control_list = [];
                        for (var key in planets) {
                          if (planets.hasOwnProperty(key)) {
                            var val = planets[key];
                            names_list.push(key);
                            control_list.push(val);
                          }
                        }
                        $('#planet1_name').html(names_list[0]);
                        $('#planet1_control').html(control_list[0]);
                        $('#planet2_name').html(names_list[1]);
                        $('#planet2_control').html(control_list[1]);
                    },
                    error: function(){
                        alert("Error!");
                    }
                });
            }
            setInterval(reload_koth, 30000);
            reload_koth()
            });


        </script>

    </body>
</html>
