<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>STARSA Command Center</title>

        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <link rel="shortcut icon" href="static/img/ists_logo_black.png">
        <link rel="icon" type="image/png" href="static/img/ists_logo_black.png" sizes="32x32">

        <!-- Web fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,700&Open+Sans:300,400,600,700">

        <!-- Bootstrap and Ares CSS -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/animate.min.css">
        <link rel="stylesheet" href="static/css/ares.css">
    </head>
    <body>
        <!-- Page Container -->
        <!--
            Available Classes: 'modern-sf', 'vintage-sf', 'interstellar-sf'
        -->
        <div id="page-container" class="modern-sf">
            <!-- Header -->
            <header id="page-header">
                <div class="h3 text-right pull-right hidden-xs">
                    <div class="text-crystal font-w300">TEAM{{team_id}}_LOGGED_IN</div>
                    <form action="/logout" method="get">
                        <button type="submit" class="text-crystal font-w300" style="background-color:black;
                                              border: solid 1px #6E6E6E;
                                              border: solid 1px #6E6E6E;
                                              vertical-align:9px">LOGOUT</button>
                    </form>
                    <div class="text-success animated infinite pulse pull-right">[LIVE]</div>
                </div>
                <h1 class="h3 font-w200">
                    <span class="text-crystal">//</span> <a class="link-sf font-w300" href="index.html">STARSA Command Center</a>
                </h1>
            </header>
            <!-- END Header -->

            <!-- Main Content -->
            <main id="page-main">
                <!-- Columns -->
                <div class="row">
                    <!-- Animated Circles Column -->
                    <div class="col-lg-6 col-lg-push-3 overflow-hidden push-20">
                        <div class="circles push-50">
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn">
                                <span class="circle circle-0"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="100">
                                <span class="circle circle-1"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="200">
                                <span class="circle circle-2"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="300">
                                <span class="circle circle-3"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="400">
                                <span class="circle circle-4"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="500">
                                <span class="circle circle-5"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="600">
                                <span class="circle circle-6"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="800">
                                <span class="circle circle-over-1 hidden-xs"><span data-toggle="countTo" data-to="9999" data-speed="1000000"></span></span>
                                <span class="circle circle-over-2 hidden-xs"></span>
                                <span class="circle circle-over-3 hidden-xs"></span>
                            </div>
                            <span class="circle circles-main-content visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="100">
                                <img src="/static/img/ists_logo_white.png" width="220" height="220">

                            </span>
                        </div>
                        <div class="row">
                            <form action="/ansible_playbook1" method="post">
                                <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                    <button name="ansible_command" value="" type="submit" class="btn btn-xl btn-block btn-sf push-10">Ansible_Playbook1</button>
                                </div>
                            </form>
                            <form action="/ansible_playbook2" method="post">
                                <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                    <button name="ansible_command" value="" type="submit" class="btn btn-xl btn-block btn-sf push-10">Ansible_Playbook2</button>
                                </div>
                            </form>
                            <form action="/ansible_playbook3" method="post">
                                <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                    <button name="ansible_command" value="" type="submit" class="btn btn-xl btn-block btn-sf push-10">Ansible_Playbook3</button>
                                </div>
                            </form>
                            <form action="/ansible_playbook4" method="post">
                                <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                    <button name="ansible_command" value="" type="submit" class="btn btn-xl btn-block btn-sf push-10">Ansible_Playbook4</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END Animated Circles Column -->

                    <!-- Left Column -->
                    <div class="col-sm-6 col-lg-3 col-lg-pull-6">
                        <!-- SHIP_DATA -->
                        <div class="block">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Ship_Data</h2>
                            </div>
                            <div class="block-content">
                                <div class="row items-push overflow-hidden">
                                    <div class="col-xs-4 text-center visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                        <div class="js-pie-chart pie-chart" data-percent="100" data-line-width="5" data-size="65" data-bar-color="rgba(255, 255, 255, .2)" data-track-color="rgba(255, 255, 255, .1)">
                                            <span class="font-s16 font-w600"><img src="/static/img/ship3.png" width="50" height="50"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 visibility-hidden" data-toggle="appear" data-class="animated fadeInRight" data-timeout="400">
                                        <div class="text-uppercase font-w600 text-white-op">GUARDIANS</div>
                                        <div id="ship1_count" class="font-s36 font-w300"></div>
                                    </div>
                                </div>
                                <div class="row items-push overflow-hidden">
                                    <div class="col-xs-4 text-center visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="200">
                                        <div class="js-pie-chart pie-chart" data-percent="100" data-line-width="5" data-size="65" data-bar-color="rgba(255, 255, 255, .2)" data-track-color="rgba(255, 255, 255, .1)">
                                            <span class="font-s16 font-w600"><img src="/static/img/ship2.png" width="50" height="50"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 visibility-hidden" data-toggle="appear" data-class="animated fadeInRight" data-timeout="500">
                                        <div class="text-uppercase font-w600 text-white-op">BOMBERS</div>
                                        <div id="ship2_count" class="font-s36 font-w300"></div>
                                    </div>
                                </div>
                                <div class="row items-push overflow-hidden">
                                    <div class="col-xs-4 text-center visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="300">
                                        <div class="js-pie-chart pie-chart" data-percent="100" data-line-width="5" data-size="65" data-bar-color="rgba(255, 255, 255, .2)" data-track-color="rgba(255, 255, 255, .1)">
                                            <span class="font-s16 font-w600"><img src="/static/img/ship1.png" width="50" height="50"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 visibility-hidden" data-toggle="appear" data-class="animated fadeInRight" data-timeout="600">
                                        <div class="text-uppercase font-w600 text-white-op">STRIKER</div>
                                        <div id="ship3_count" class="font-s36 font-w300"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SHIP_DATA -->

                        <!-- STATS -->
                        <div class="block">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">STATS</h2>
                            </div>
                            <div class="block-content">
                                <div class="row items-push">
                                    <div class="col-xs-4 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="100">
                                        <div class="font-s12 text-white-op">DAMAGE</div>
                                        <div id="damage"></div>
                                    </div>
                                    <div class="col-xs-4 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="300">
                                        <div class="font-s12 text-white-op">HEALTH</div>
                                        <div id="health"></div>
                                    </div>
                                    <div class="col-xs-4 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="500">
                                        <div class="font-s12 text-white-op">SPEED</div>
                                        <div id="speed"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END STATS -->

                        <!-- CREDITS -->
                        <div class="block">
                            <img src="/static/img/coin.png" width="100" height="100" align="right">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">CREDITS</h2>
                            </div>
                            <div class="block-content block-content-full overflow-hidden">
                                <div id="credits" class="font-w700 text-white-op push-5 visibility-hidden" data-toggle="appear" data-class="animated fadeInRight" data-timeout="100"></div>
                            </div>
                        </div>
                        <!-- END CREDITS -->

                    </div>
                    <!-- END Left Column -->

                    <!-- Right Column -->
                    <div class="col-sm-6 col-lg-3">

                        <!-- ALERTS -->
                        <div class="block">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">ALERTS</h2>
                                <div id='alerts' class="text-uppercase font-w600 text-white-op"></div>
                            </div>
                        </div>
                        <!-- END ALERTS -->

                        <!-- HQ_COMS -->
                        <div class="block">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">HQ_COMS</h2>
                            </div>
                            <div class="block-content overflow-hidden">
                                <div class="row items-push">
                                    <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="300">
                                        <div id="server1" class="font-s18 font-w300 text-white-op"></div>
                                    </div>
                                    <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="500">
                                        <div id="server2" class="font-s18 font-w300 text-white-op"></div>
                                    </div>
                                    <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="700">
                                        <div id="server3" class="font-s18 font-w300 text-white-op"></div>
                                    </div>
                                    <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="900">
                                        <div id="server4" class="font-s18 font-w300 text-white-op"></div>
                                    </div>
                                    <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="1100">
                                        <div id="server5" class="font-s18 font-w300 text-white-op"></div>
                                    </div>
                                    <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="1300">
                                        <div id="server6" class="font-s18 font-w300 text-white-op"></div>
                                    </div>
                                    <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="1300">
                                        <div id="server7" class="font-s18 font-w300 text-white-op"></div>
                                    </div>
                                    <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="1300">
                                        <div id="server8" class="font-s18 font-w300 text-white-op"></div>
                                    </div>
                                    <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="1300">
                                        <div id="server9" class="font-s18 font-w300 text-white-op"></div>
                                    </div>
                                    <div class="col-xs-6 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="1300">
                                        <div id="server10" class="font-s18 font-w300 text-white-op"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END HQ_COMS -->

                        <!-- KING_OF_THE_HILL -->
                        <div class="block">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">KING_OF_THE_HILL</h2>
                            </div>
                            <div class="block-content">
                                <div class="row items-push overflow-hidden">
                                    <div class="col-xs-4 text-center visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                        <div class="js-pie-chart pie-chart" data-percent="100" data-line-width="20" data-size="45" data-bar-color="rgba(255, 255, 255, .2)" data-track-color="#c07635">
                                            <span class="font-s16 font-w600"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 visibility-hidden" data-toggle="appear" data-class="animated fadeInRight" data-timeout="400">
                                        <div id="planet1_name" class="text-uppercase font-w600 text-white-op"></div>
                                        <div id="planet1_control" class="font-s36 font-w300"><div class="font-s18 text-success">[UP]</div></div>
                                    </div>
                                </div>
                                <div class="row items-push overflow-hidden">
                                    <div class="col-xs-4 text-center visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="200">
                                        <div class="js-pie-chart pie-chart" data-percent="100" data-line-width="22" data-size="50" data-bar-color="rgba(255, 255, 255, .2)" data-track-color="#3673cc">
                                            <span class="font-s16 font-w600"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 visibility-hidden" data-toggle="appear" data-class="animated fadeInRight" data-timeout="500">
                                        <div id="planet2_name" class="text-uppercase font-w600 text-white-op"></div>
                                        <div id="planet2_control" class="font-s36 font-w300"><div class="font-s18 text-success">[UP]</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END KING_OF_THE_HILL -->

                    </div>
                    <!-- END Right Column -->
                </div>
                <!-- END Columns -->

            </main>
            <!-- END Main Content -->
        </div>
        <!-- END Page Container -->

        <!-- Scripts -->
        <script src="static/js/core/jquery.min.js"></script>
        <script src="static/js/plugins/jquery.appear.min.js"></script>
        <script src="static/js/plugins/jquery.countTo.min.js"></script>
        <script src="static/js/plugins/jquery.easypiechart.min.js"></script>
        <script src="static/js/ares.js"></script>

        <!-- Page JS Code -->
        <script>
            jQuery(function(){
                // Init page helpers (Appear + CountTo + Easy Pie Chart plugins)
                Ares.initHelpers(['appear', 'appear-countTo', 'easy-pie-chart']);
            });

           var AUTH_API_URL = 'http://atlas.whiteteam.ritsec:9000';
           var WHITETEAM_API_URL = 'http://atlas.whiteteam.ritsec:7000';
           var team_id = 0;

           function get_team_id(){
                $.ajax({
                  url: AUTH_API_URL + '/validate-session',
                  type: 'POST',
                  data:{
                    token: document.cookie
                  },
                  contentType: 'application/x-www-form-urlencoded',
                  success: function (data) {
                    team_id = data.success;
                    reload_credits();
                    reload_ships();
                    reload_stats();
                    reload_hq_coms();
                  },
                  error: function (data) {
                    console.log('team_id error');
                  }
                });
            };
            get_team_id();

           $(function() {
           function reload_alerts(){
               $.ajax({
                    url: WHITETEAM_API_URL + '/status/alerts',
                    type: 'GET',
                    dataType: 'json',
                    success: function(data){
                        var alerts = data.alerts;
                        var formatted_alerts = '';
                        for (i = 0; i < alerts.length; i++) {
                            formatted_alerts += "- " + alerts[i] + "<br>";
                        }
                        $('#alerts').html(formatted_alerts);

                    },
                    error: function(){
                        console.log("Alerts Error!");
                    }
                });
            }
            setInterval(reload_alerts, 30000);
            reload_alerts()
            });

            $(function() {
           function reload_koth(){
               $.ajax({
                    url: WHITETEAM_API_URL + '/status/koth',
                    type: 'GET',
                    dataType: 'json',
                    success: function(data){
                        var planets = data.planets;
                        var planet1_data = planets[0];
                        var planet1_name = planet1_data['planet'];
                        var planet1_owner = planet1_data['owner'];
                        var planet2_data = planets[1];
                        var planet2_name = planet2_data['planet'];
                        var planet2_owner = planet2_data['owner'];
                        $('#planet1_name').html(planet1_name);
                        $('#planet1_control').html(planet1_owner);
                        $('#planet2_name').html(planet2_name);
                        $('#planet2_control').html(planet2_owner);
                    },
                    error: function(){
                        console.log("Koth Error!");
                    }
                });
            }
            setInterval(reload_koth, 30000);
            reload_koth()
            });



           function reload_credits(){
                $.ajax({
                  url: WHITETEAM_API_URL + '/credits/' + team_id,
                  type: 'POST',
                  data:{
                    token: document.cookie
                  },
                  contentType: 'application/x-www-form-urlencoded',
                  success: function (data, textStatus, xhr) {
                    var credits = "<font size='6'>" + "☬" + data.credits + "</font>";
                    $('#credits').html(credits);
                  },
                  error: function (xhr, textStatus, errorThrown) {
                    console.log('Credits Error');
                  }
                });
            };
            setInterval(reload_credits, 30000);



           function reload_ships(){
               $.ajax({
                    url: WHITETEAM_API_URL + '/ships/' + team_id,
                    type: 'POST',
                    dataType: 'json',
                    data:{
                      token: document.cookie
                    },
                    contentType: 'application/x-www-form-urlencoded',
                    success: function(data){
                        var ships1 = data.guardian;
                        var ships2 = data.bomber;
                        var ships3 = data.striker;

                        $('#ship1_count').html(ships1);
                        $('#ship2_count').html(ships2);
                        $('#ship3_count').html(ships3);
                    },
                    error: function(){
                        console.log("Ships Error!");
                    }
                });
            };
            setInterval(reload_ships, 30000);



           function reload_stats(){
               $.ajax({
                    url: WHITETEAM_API_URL + '/stats/' + team_id,
                    type: 'POST',
                    dataType: 'json',
                    data:{
                      token: document.cookie
                    },
                    contentType: 'application/x-www-form-urlencoded',
                    success: function(data){
                        var health = data.health;
                        if (health[0]=='-'){
                            health = '<div id="health" class="font-s18 text-OFF">'+health+'</div>';
                        }
                        else if (health[0]=='+'){
                            health = '<div id="health" class="font-s18 text-ON">'+health+'</div>';
                        }
                        else{
                            health = '<div id="health" class="font-s18 text-white">'+health+'</div>';
                        }
                        var damage = data.damage;
                        if (damage[0]=='-'){
                            damage = '<div id="damage" class="font-s18 text-OFF">'+damage+'</div>';
                        }
                        else if (damage[0]=='+'){
                            damage = '<div id="damage" class="font-s18 text-ON">'+damage+'</div>';
                        }
                        else{
                            damage = '<div id="damage" class="font-s18 text-white">'+damage+'</div>';
                        }
                        var speed = data.speed;
                        if (speed[0]=='-'){
                            speed = '<div id="speed" class="font-s18 text-OFF">'+speed+'</div>';
                        }
                        else if (speed[0]=='+'){
                            speed = '<div id="speed" class="font-s18 text-ON">'+speed+'</div>';
                        }
                        else{
                            speed = '<div id="speed" class="font-s18 text-white">'+speed+'</div>';
                        }

                        $('#health').html(health);
                        $('#damage').html(damage);
                        $('#speed').html(speed);
                    },
                    error: function(){
                        console.log("Stats Error!");
                    }
                });
            };
            setInterval(reload_stats, 30000);



           function reload_hq_coms(){
                $.ajax({
                  url: '/hq_coms',
                  type: 'POST',
                  data:{
                    server1: 'Sol',
                    server2: 'Crucis',
                    server3: 'Vega',
                    server4: 'Sirius',
                    server5: 'Tauri',
                    server6: 'Persei',
                    server7: 'Luna',
                    server8: 'Andromeda',
                    server9: 'Pegasi',
                    server10: 'Wolf'
                  },
                  contentType: 'application/x-www-form-urlencoded',
                  success: function (data, textStatus, xhr) {
                    if (data.reachable1[1] == 'UP') {
                        var server1 = data.reachable1[0]+' [<span class="text-success">' + data.reachable1[1] + '</span>]';
                    } else {
                        var server1 = data.reachable1[0]+' [<span class="text-OFF">' + data.reachable1[1] + '</span>]';
                    }
                    if (data.reachable2[1] == 'UP') {
                        var server2 = data.reachable2[0]+' [<span class="text-success">' + data.reachable2[1] + '</span>]';
                    } else {
                        var server2 = data.reachable2[0]+' [<span class="text-OFF">' + data.reachable2[1] + '</span>]';
                    }
                    if (data.reachable3[1] == 'UP') {
                        var server3 = data.reachable3[0]+' [<span class="text-success">' + data.reachable3[1] + '</span>]';
                    } else {
                        var server3 = data.reachable3[0]+' [<span class="text-OFF">' + data.reachable3[1] + '</span>]';
                    }
                    if (data.reachable4[1] == 'UP') {
                        var server4 = data.reachable4[0]+' [<span class="text-success">' + data.reachable4[1] + '</span>]';
                    } else {
                        var server4 = data.reachable4[0]+' [<span class="text-OFF">' + data.reachable4[1] + '</span>]';
                    }
                    if (data.reachable5[1] == 'UP') {
                        var server5 = data.reachable5[0]+' [<span class="text-success">' + data.reachable5[1] + '</span>]';
                    } else {
                        var server5 = data.reachable5[0]+' [<span class="text-OFF">' + data.reachable5[1] + '</span>]';
                    }
                    if (data.reachable6[1] == 'UP') {
                        var server6 = data.reachable6[0]+' [<span class="text-success">' + data.reachable6[1] + '</span>]';
                    } else {
                        var server6 = data.reachable6[0]+' [<span class="text-OFF">' + data.reachable6[1] + '</span>]';
                    }
                    if (data.reachable7[1] == 'UP') {
                        var server7 = data.reachable7[0]+' [<span class="text-success">' + data.reachable7[1] + '</span>]';
                    } else {
                        var server7 = data.reachable7[0]+' [<span class="text-OFF">' + data.reachable7[1] + '</span>]';
                    }
                    if (data.reachable8[1] == 'UP') {
                        var server8 = data.reachable8[0]+' [<span class="text-success">' + data.reachable8[1] + '</span>]';
                    } else {
                        var server8 = data.reachable8[0]+' [<span class="text-OFF">' + data.reachable8[1] + '</span>]';
                    }
                    if (data.reachable9[1] == 'UP') {
                        var server9 = data.reachable9[0]+' [<span class="text-success">' + data.reachable9[1] + '</span>]';
                    } else {
                        var server9 = data.reachable9[0]+' [<span class="text-OFF">' + data.reachable9[1] + '</span>]';
                    }
                    if (data.reachable10[1] == 'UP') {
                        var server10 = data.reachable10[0]+' [<span class="text-success">' + data.reachable10[1] + '</span>]';
                    } else {
                        var server10 = data.reachable10[0]+' [<span class="text-OFF">' + data.reachable10[1] + '</span>]';
                    }
                    $('#server1').html(server1);
                    $('#server2').html(server2);
                    $('#server3').html(server3);
                    $('#server4').html(server4);
                    $('#server5').html(server5);
                    $('#server6').html(server6);
                    $('#server7').html(server7);
                    $('#server8').html(server8);
                    $('#server9').html(server9);
                    $('#server10').html(server10);
                  },
                  error: function (xhr, textStatus, errorThrown) {
                    console.log('HQ Coms Error');
                  }
                });
            };
            setInterval(reload_hq_coms, 30000);


        </script>

    </body>
</html>
